/* Custom properties/variables  */
:root {
  --main-yellow: #f1be32;
  --main-purple: #1b1b32;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-black: #000;
  --main-white: #fff;
  --main-beige: #f5f5dc;
  --main-red: #be3144;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-beige);
  background: var(--main-gray);
  background-image: 
    linear-gradient(62deg, rgba(58, 61, 64, 0.8) 0%, rgba(24, 23, 25, 0.8) 100%),
    url('Patten.jpg'); /* Photo by JJ Ying on Unsplash */
  background-blend-mode: overlay; /* 使用 overlay 模式融合背景 */
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

img {
  display: block;
  width: 100%;
}

/* nav */
.nav {
  display: flex;
  flex-direction: column; /* 垂直排列 */
  position: fixed;
  top: 50%; /* 垂直居中 */
  right: 0; /* 將導航欄移到右側 */
  transform: translateY(-50%); /* 垂直居中 */
  background: var(--main-purple);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3); /* 調整陰影方向 */
  z-index: 10;
  border-radius: 10px; /* 圓角 */
}

.nav-list {
  display: flex;
  flex-direction: column; /* 垂直排列 */
}

.nav-list a {
  display: block;
  font-size: 2rem;
  padding: 1.5rem 2rem; /* 調整內邊距 */
  transition: background 0.3s ease;
  color: var(--main-yellow);
}

.nav-list a:hover {
  background: var(--main-blue);
  border-radius: 10px; /* 懸停時圓角 */
}

/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--main-gray);
  background-image: 
    linear-gradient(62deg, rgba(58, 61, 64, 0.8) 0%, rgba(24, 23, 25, 0.8) 100%),
    url('https://github.com/RayHoLam/My-Profile/blob/main/Patten.jpg'); /* Photo by JJ Ying on Unsplash */
  background-blend-mode: overlay; /* 使用 overlay 模式融合背景 */
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  height: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 1), -4px -4px 10px rgba(255, 255, 255, 0.2);
  padding: 30px 50px 30px 50px;
  margin: 30px 100px 30px 100px;
  font-style: italic, bold;
  color: var(--main-beige);
  
}

/* about-section */

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--main-gray);
  background-image: 
    linear-gradient(62deg, rgba(58, 61, 64, 0.8) 0%, rgba(24, 23, 25, 0.8) 100%),
    url('https://github.com/RayHoLam/My-Profile/blob/main/Patten.jpg'); /* Photo by JJ Ying on Unsplash */
  background-blend-mode: overlay; /* 使用 overlay 模式融合背景 */
}

.about-section > p {
  font-size: 3rem;
  font-weight: 200;
  height: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 1), -4px -4px 10px rgba(255, 255, 255, 0.2);
  padding: 30px 50px 30px 50px;
  margin: 30px 100px 30px 100px;
  font-style: italic, bold;
  color: var(--main-beige);
}

/* Projects section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-gray);
  background-image: 
    linear-gradient(62deg, rgba(58, 61, 64, 0.8) 0%, rgba(24, 23, 25, 0.8) 100%),
    url('https://github.com/RayHoLam/My-Profile/blob/main/Patten.jpg'); /* Photo by JJ Ying on Unsplash */
  background-blend-mode: overlay; /* 使用 overlay 模式融合背景 */
}

.projects-section-header {
  max-width: 210px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-beige);
  
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-purple);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--main-purple);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-purple);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--main-red);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}


/* survey */

.survey-section {
  display:none;
  background-color: #303841;
  padding: 2rem; 
  text-align: center;
  background-image: 
    linear-gradient(62deg, rgba(58, 61, 64, 0.8) 0%, rgba(24, 23, 25, 0.8) 100%),
    url('https://github.com/RayHoLam/My-Profile/blob/main/Patten.jpg'); /* Photo by JJ Ying on Unsplash */
  background-blend-mode: overlay; /* 使用 overlay 模式融合背景 */
}


/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
  border-top: 4px solid var(--main-red);
  color: var(--main-white);
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
